.App{
  display: grid;
}

.header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.brand{
  display: inline-flex;
  padding-left: 30px;
  align-items: center;
  font-size: large;
  flex-wrap: wrap;
}

.clock{
  display: inline-flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}