.App{
  display: grid;
}

.brand{
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

.brandName{
  color: lightgray;
  text-shadow: 2px 1px  rgb(169, 117, 255);
  margin-left: 0;
  font-family: 'Caveat';
  font-size: 48px;
}

@media (max-width:480px) {
  .brandName{
    font-size: 35px;
  }
}

.header{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.clock{
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.location{
  display: inline-flex;
  align-items: center;
}

.toronto-container{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgb(229, 229, 229);
  padding: 10px;
  text-align: center;
}

.toronto-title, .japan-title {
  color: #333;
  font-size: 15px;
  margin-bottom: 10px;
}

.toronto-time, .japan-time {
  font-size: 20px;
  color: #333;
  font-weight: 300;
  margin-top: 0;
}

.japan-container {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgb(229, 229, 229);
  padding: 10px;
  text-align: center;
}

@media (max-width: 480px) {
  .toronto-time, .toronto-title, .japan-time, .japan-title{
    font-size: 12px;
  }
}

.nav{
  display: inline-flex;
  list-style-type: none;
  gap: 30px;
  align-items: center;
  justify-content: center;
  font-family: 'Caveat';
  font-size: x-large;
  transition: transform 0.2s ease-in-out;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 480px) {
  .nav{
    font-size: medium;
    gap: 20px;
  }
}
.navItem {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
}

.navItem:hover {
  transform: translateY(-10px);
}

.navItem a {
  color: gray;
  text-decoration: none;
  display: inline-block;
  padding: 15px;
}

.navItem a:hover {
  color: #ffcc00;
}

.home{
  width: 100%;
  height: 300px;
  background-image: url('./assets/blackcat.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.footer{
  background-color: rgb(236, 236, 236);
}