.home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
    text-align:left;
}

.card{
    border: 2px solid grey;
    border-radius: 20px;
    padding: 10px;
}